# Configure MIME types for WASM files
AddType application/wasm .wasm

# Enable CORS for WASM files
<Files "*.wasm">
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</Files>

# Enable CORS for JavaScript modules
<Files "*.js">
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</Files>